body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 80%;
}

div {
  position: relative;
  padding-top: 50px;
}

h1 {
  color:  #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  line-height: 2;
}

.profile-disc{
  margin: 10px auto 50px auto;
  width: 30%;
}

hr {
  border: dotted #A5C9CA 6px;
  border-bottom: none;
  width: 5%;
}

h2 {
  color:  #66BFBF;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

h3 {
  color:  #11999E;
  font-family: 'Montserrat', sans-serif;
}

.sun {
  position: absolute;
  left: 100px;
  height: 200px;
  width: 200px;
  top: 60px;
}

a {
  color: #11999E;
  margin: 20px 10px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-container {
  background-color: #E4F9F5;
    }

.top-cloud{
  position: relative;
  left: 200px;
  top: 10px;
}
.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 450px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.design-devlopment {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.volleyball {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.bottom-container {
  background-color: #66BFBF;
  color: #EAF6F6;
  padding-bottom: 30px;
}

.copyright {
  margin: 30px auto 0 auto;
  margin-bottom: 0;
  font-size: 0.75rem;
}

.c-disc {
  margin-bottom: 40px;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  background: #66BFBF;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #11999E;
  text-decoration: none;
}
.contact-me {
  margin-bottom: 40px;
}
